.cardContainer{
    width: 100%;
    height: auto;
    margin: 40px 0 100px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    padding-top: 74px;
    position: relative;
    cursor: pointer;
    @media(min-width: 1450px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media(max-width: 1250px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media(max-width:1000px) {
        grid-gap: 20px;
    }
    @media(max-width:500px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        padding-top: 50px;
        margin: 24px 0 70px;
    }
    h2{
        position: absolute;
        top: 0;
        left: 0;
        color: $white;
        font-weight: 300;
        font-size: 32px;
        letter-spacing: -0.5px;
        @media(max-width:500px) {
            font-size: 20px;
        }
    }
    .card{
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        height: 230px;
        @media(max-width: 500px) {
            height: 160px;
        }
        img{
            display: block;
            height: 174px;
            width: 100%;
            object-fit: cover;
            @media(max-width: 500px) {
                height: 110px;
            }
        }
        &__txtContainer{
            display: flex;
            align-items: center;
            color: rgba(255, 255, 255, 0.75);
            font-weight: 300;
            margin: 8px 0 5px;
            span{
                height: 3px;
                width: 3px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.75);
                margin: 0 8px;
                @media(max-width:525px) {
                    margin: 0 7px;
                }
            }
            p{
                @media(max-width: 800px) {
                    font-size: 13px;
                }
                @media(max-width: 600px) {
                    font-size: 11px;
                }
                @media(max-width: 530px){
                    font-size: 10px;
                }
                @media(max-width: 360px){
                    font-size: 9px;
                }
            
            }
            .icon-card{
                width: 12px;
                height: 12px;
                margin-right: 6px;
                @media(max-width: 500px) {
                    height: 10px;
                    width: 10px;
                }
            }
        }
        &:hover .playContainer{
            display: flex;
        }
        .playContainer{
            position: absolute;
            height: 174px;
            width: 100%;
            justify-content: center;
            z-index: 3;
            display: none;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            @media(max-width: 500px){
                height: 110px;
            }
            .playBtn{
                height: 48px;
                width: 117px;
                border-radius: 48px;
                background: rgba(255, 255, 255, 0.3);
                display: flex;
                align-items: center;
                margin-top: 69px;
                @media(max-width: 500px){
                    margin-top: 31px;
                    height: 38px;
                    width: 90px;
                }
            }
            img{
                height:30px;
                width: 30px;
                margin: 0 19px 0 9px;
                @media(max-width: 500px){
                    margin: 0 8px 0 6px;
                    
                }
            }
            p{
                color: $white;
                font-weight: 500;
                font-size: 18px;
            }
        }
        .bookMarked{
            height: 32px;
            width: 32px;
            position: absolute;
            border-radius: 50%;
            top: 16px;
            right: 16px;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 4;
            img{
                width: 11.64px;
                height: 14px;
            }
            @media(max-width: 500px){
                top: 5px;
                right: 5px;
            }
        }
        h3{
            color: $white;
            font-weight: 500;
            font-size: 18px;
            @media(max-width: 600px) {
                font-size: 15px;
            }
            @media(max-width: 525px) {
                font-size: 14px;
            }
            @media(max-width: 360px){
                font-size: 12px;
            }
        }
    }
    .errorHandler{
        position: absolute;
        overflow: visible;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        &:hover{
            cursor: initial;
        }
        p{
            color: white;
            height: 25px;
        }
    }
}
.margin-bookmark{
    margin: 40px 0 30px;
    min-height: 300px;
}

